#app #productDomain .product-house {
  text-align: center;
}

#app #productDomain .product-info {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 8%;
  background: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.4);
  opacity: 1;
}

#app #productDomain .product-image-main {
  width: 320px;
  margin: 80px auto 5px;
  height: fit-content;
}

#app #productDomain .product-image-main .img-holder {
  width: 100%;
  height: 320px;
  background: rgba(0, 0, 0, 0.4);
  position: relative;
}

#app #productDomain .product-image-gallery {
  width: 320px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px auto 0;
}

#app #productDomain .product-image-gallery .img-holder {
  flex: 0 1 100px;
  background: rgba(0, 0, 0, 0.4);
  height: 100px;
}

#app #productDomain .product-params > div {
  margin-bottom: 30px;
}

#app #productDomain .product-params > div .title {
  text-transform: uppercase;
}

#app #productDomain .product-params > div ul {
  list-style: none;
  justify-content: center;
  padding: 0;
}

#app #productDomain .product-params > div ul li {
  flex: 0 0 20px;
  margin: 0 5px;
  padding: 5px 8px;
  opacity: 0.7;
  position: relative;
}

#app #productDomain .product-params > div.product-color ul li:nth-child(odd) {
  border-radius: 50%;
  border: 0.5px solid #000;
  padding: 14px;
}

#app #productDomain .product-params > div.product-quantity ul li:nth-child(odd) {
  border: 1px solid #000;
  font-weight: bold;
}

#app #productDomain .product-params > div ul li:hover {
  opacity: 0.8;
  font-weight: bold;
}

#app #productDomain .product-params > div ul li.selected,
#app #productDomain .product-params > div ul li.active {
  opacity: 1;
  font-weight: bold;
}

#app #productDomain .product-params > div ul li.active::before {
  position: absolute;
  content: '';
  width: 50%;
  height: 3px;
  background-color: #ef932e;
  left: 25%;
  bottom: 4px;
}

#app #productDomain .product-review {
  padding: 20px;
  margin: 0 20px 20px 0;
}

#app #productDomain .product-review .img-holder {
  background: rgba(0, 0, 0, 0.4);
  width: 50px;
  height: 50px;
}

/**************************************************************
***************************************************************
************************* MEDIA QUERY *************************
***************************************************************
***************************************************************/
@media (min-width: 576px) {
  #app #productDomain .product-image-main {
    /* width: 240px; */
  }
}

@media (min-width: 992px) {
  #app #productDomain .product-info {
    position: static;
    display: block;
    padding: 0;
    background: #fff;
    box-shadow: none;
    opacity: 1;
  }

  #app #productDomain .product-house {
    display: flex;
    text-align: left;
  }

  #app #productDomain .product-image-main {
    margin-top: 0;
  }

  #app #productDomain .product-params > div {
    margin-bottom: 20px;
  }

  #app #productDomain .product-params > div ul {
    justify-content: flex-start;
  }

  #app #productDomain .product-params > div ul li {
    margin-right: 5px;
  }

  #app #productDomain .product-actions {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
  }

  #app #productDomain .product-review {
    flex: 0 1 30%;
  }
}
