/**************************************************************
***************************************************************
********************** PRODUCT SHOWCASE ***********************
***************************************************************
***************************************************************/
#app .productShowcase > div {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  overflow-x: scroll;
}

#app .productShowcase > div::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#app .productShowcase > div::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

#app .productShowcase .product {
  flex: 0 0 160px;
  margin: 5px;
  height: fit-content;
  background: #fff;
}

#app .productShowcase .product .img-holder {
  width: 100%;
  padding-top: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: relative;
}

#app .productShowcase .product .img-holder-cover {
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;

  transition: all 0.5s;
}

#app .productShowcase .product .img-holder-cover:hover {
  opacity: 1;
}

#app .productShowcase .product .product-actions {
  top: 0;
  width: 100%;
  left: 0;
  /* font-size: 1.3em; */
  display: flex;
  justify-content: space-between;
}

#app .productShowcase .product .img-holder .btn {
  color: #fffff0;
  height: fit-content;
}

#app .productShowcase .product .product-actions .btn.btn-active {
  color: #ef932e;
}

#app .productShowcase .product .product-description {
  overflow: hidden;
}

#app .product-discount {
  text-decoration: line-through;
  font-size: small;
}

/**************************************************************
***************************************************************
************************* MEDIA QUERY *************************
***************************************************************
***************************************************************/
@media (min-width: 576px) {
  #app .productShowcase .product {
    flex-basis: 240px;
  }
}
