/* CSS Document */
/*
PALETTE
#ef932e
#59C9A5
#D81E5B
#23395B
#FFF3EB
* ! Use rem for responsive font-sizes
*/

body {
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Dosis', sans-serif;
}

a {
  text-decoration: none;
}

a,
a:hover,
a.active {
  color: #ef932e;
}

a:hover,
a.active {
  font-weight: bold;
}

p {
  margin: 0;
}

.pointer {
  cursor: pointer;
}

.form-control,
.form-control:-webkit-autofill,
.form-control:-webkit-autofill:hover,
.form-control:-webkit-autofill:focus,
.form-control:-webkit-autofill:active {
  box-shadow: none;
  -webkit-box-shadow: 0 0 0 100 #fff inset;
  font-family: 'Montserrat', sans-serif;
}

.border-primary {
  border-color: #ef932e;
}

.clear {
  clear: both;
}

.v-parent {
  position: relative;
  width: 100%;
}

.v-child {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  width: 100%;
}

.d-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.img-holder {
  overflow: hidden;
}
