#app .card-columns.gender .fas,
#app .card-columns.gender .fab,
#app .card-columns.gender .far {
  font-size: 2em;
}

#app .card-columns.gender .fas,
#app .card-columns.gender .fab,
#app .card-columns.gender .far {
  font-size: 2em;
}

@media (min-width: 576px) {
  #app .card-columns.gender {
    column-count: 3;
  }
}
