/**************************************************************
***************************************************************
**************************** JUMBO ****************************
***************************************************************
***************************************************************/
#app .jumbo {
  height: 50vh;
  margin-top: 55px;
}

#app .jumbo .carousel-indicators li {
  border-width: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ef932e;
  background: linear-gradient(to top right, #ed8716 0%, #ef932e 50%);
  position: relative;
  top: 10px;
}

#app .jumbo .carousel-indicators li.active {
  width: 60px;
  border-radius: 10px;
}

#app .jumbo.jumbo-home .carousel-item {
  background: url('../img/jumbotron/benshadawebbanners04.jpg') no-repeat bottom left/cover !important;
}

#app .jumbo.jumbo-home .carousel-item:nth-child(2) {
  background-image: url('../img/jumbotron/benshadawebbanners01.jpg') !important;
}

#app .jumbo.jumbo-home .carousel-item:nth-child(3) {
  background-image: url('../img/jumbotron/benshadawebbanners03.jpg') !important;
}

#app .jumbo.jumbo-home .carousel-item:nth-child(4) {
  background-image: url('../img/jumbotron/benshadawebbanners02.jpg') !important;
}

#app .jumbo a[class^='carousel-control'] {
  padding: 20px;
  height: fit-content;
  width: fit-content;
  background: #ef932e;
  background: linear-gradient(to top right, #ed8716 0%, #ef932e 50%);
}

#app .jumbo a.carousel-control-next {
  right: 0;
  left: unset;
}

#app .jumbo .intro {
  text-align: center;
}

/**************************************************************
***************************************************************
************************* CREATE SHOP *************************
***************************************************************
***************************************************************/
#app #createShop {
  height: 10vh;
}

#app #createShop .btn {
  left: 15%;
  right: 15%;
  width: 70%;
}

@media (min-width: 992px) {
  #app .jumbo {
    height: 650px;
  }
}

@media (min-width: 1198px) {
  #app .jumbo .year::before {
    right: 0;
    left: unset;
  }

  #app .jumbo .jumbo-text {
    padding-right: 5%;
  }

  #app .jumbo .carousel-indicators {
    height: fit-content;
  }

  #app .jumbo .carousel-indicators li {
    width: 15px;
    height: 15px;
    top: 0;
  }

  #app .jumbo .intro {
    text-align: right;
  }

  #app #createShop {
    height: 20vh;
  }
}
