div#slider-distance {
  position: relative;
  height: 14px;
  border-radius: 10px;
  text-align: left;
  margin: 0;
}

div#slider-distance > div {
  position: absolute;
  left: 14%;
  right: 14%;
  height: 14px;
}

div#slider-distance > div > #inverse-left,
div#slider-distance > div > #inverse-right {
  position: absolute;
  top: 0;
  height: 14px;
  border-radius: 10px;
  background: #ccc;
  width: 100%;
  border: 2px solid #ef932e;
}

div#slider-distance > div > #inverse-left {
  left: 0;
}

div#slider-distance > div > #inverse-right {
  right: 0;
}

div#slider-distance > div > #range {
  position: absolute;
  left: 0;
  height: 14px;
  border-radius: 14px;
  background-color: #ef932e;
}

div#slider-distance > div > .thumb {
  position: absolute;
  top: -7px;
  z-index: 2;
  height: 28px;
  width: 28px;
  margin-left: -11px;
  cursor: pointer;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  background-color: #fff;
  border-radius: 50%;
  outline: none;
  border: 2px solid #ef932e;
}

div#slider-distance > input[type='range'] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 2;
  height: 14px;
  top: -2px;
  width: 100%;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  cursor: pointer;
}

div#slider-distance > input[type='range']::-ms-track {
  -webkit-appearance: none;
  background: transparent;
  color: transparent;
}

div#slider-distance > input[type='range']::-moz-range-track {
  -moz-appearance: none;
  background: transparent;
  color: transparent;
}

div#slider-distance > input[type='range']:focus::-webkit-slider-runnable-track {
  background: transparent;
  border: transparent;
}

div#slider-distance > input[type='range']:focus {
  outline: none;
}

div#slider-distance > input[type='range']::-ms-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0;
  border: 0 none;
}

div#slider-distance > input[type='range']::-moz-range-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0;
  border: 0 none;
}

div#slider-distance > input[type='range']::-webkit-slider-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0;
  border: 0 none;
  -webkit-appearance: none;
}

div#slider-distance > input[type='range']::-ms-fill-lower {
  background: transparent;
  border: 0 none;
}

div#slider-distance > input[type='range']::-ms-fill-upper {
  background: transparent;
  border: 0 none;
}

div#slider-distance > input[type='range']::-ms-tooltip {
  display: none;
}

div#slider-distance > div > .sign {
  opacity: 0;
  position: absolute;
  margin-left: -11px;
  top: -39px;
  z-index: 1;
  background-color: #ef932e;
  color: #fff;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  -webkit-border-radius: 28px;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}

div#slider-distance > div > .sign::after {
  position: absolute;
  content: '';
  left: 0;
  border-radius: 16px;
  top: 19px;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top-width: 16px;
  border-top-style: solid;
  border-top-color: #ef932e;
}

div#slider-distance > div > .sign > span {
  font-size: 12px;
  font-weight: 700;
  line-height: 28px;
}

div#slider-distance:hover > div > .sign {
  opacity: 1;
}
